@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100&display=swap');

body{
    background-color: rgb(4, 97, 97);
}

.cntrhead{
    font-family: 'Urbanist', sans-serif;
    color: rgb(65,224,253);
    text-align: center;
    padding: 20px;
    margin: 80px 200px;
    background-color: rgb(32,35,42);
    border-radius: 0px 10px 0px 10px;
}
.btns{
    border-radius: 0px;
    align-items: center;
    background-color: rgb(32,35,42);
    border:2px solid rgb(65,224,253);
    color: rgb(65,224,253);
}
.reset{
    border-radius: 0px;
    align-items: center;
    background-color: rgb(32,35,42);
    border:2px solid rgb(65,224,253);
    color: rgb(65,224,253);
    margin-left: 200px;
    margin: 20px ;


}
.reset:hover{
    background-color: rgb(65,224,253);
    border : 2px solid rgb(32,35,42);
    color: rgb(32,35,42) ;

}
.btns:hover{
    background-color: rgb(65,224,253);
    border : 2px solid rgb(32,35,42);
    color: rgb(32,35,42) ;

}
.counter{
    background-color: rgb(119, 217, 235);
    border: rgb(3, 217, 255);
    border-radius: 0px;
    margin: 0px 500px ;
    box-shadow: 0 0 10px black;
    text-align: center;
    padding: 10px;
}